* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    text-decoration: none;
    color: black;
}
.background{
    height: 100vh;
    width: 1fr;
    background-image: url('../img/Background.jpg');
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 100%;
    width: 50%;
}
.left{
    margin-left: 16px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 30px );
    -webkit-backdrop-filter: blur( 30px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 450px;
    border-radius: 16px;
    margin: auto;
    padding: 24px;
}
.cover{
    margin: auto;
    padding: auto;
}
.text{
    line-height: 32px;
}
h2{
    font-weight: 500;
    font-size: 24px;
}
h1{
    font-weight: 600px;
    font-size: 40px
}
.get-start{
    padding: 8px 40px;
    border-radius: 16px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    /* backdrop-filter: blur( 30px );
    -webkit-backdrop-filter: blur( 30px ); */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-weight: 500;
    font-size: 18px;
}
.login{
    margin-left: 2px;
    font-weight: 300;
    font-size: 11px;
}
#space1{
    height: 32px;
}
#space2{
    height: 8px;
}