<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ctfu</title>
</head>
<body>
    <a href={{ url_for('views.register') }}>Get Start!</a>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ctfu</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <div class="background">
        <div class="left">
            <div class="cover">
                <div class="text">
                <h2>Why taking note in the same old way?</h2>
                <h1>Just chat!</h1>
            </div>
            <div id="space1"></div>
            <a href={{ url_for('views.register') }} class="get-start">Get Start</a><br>
            <div id="space2"></div>
            <a href={{ url_for('views.login') }} class="login">Already have an account? Login</a>
            </div>
        </div>
        <img src="../static/img/index-page/Takenote.svg" alt="">
    </div>
</body>
</html>